<div class="sidebar bg-dark text-white p-3" style="height: 100vh; position: fixed; width: 250px;">
    <h3 class="text-center">Admin Dashboard</h3>
    <ul class="list-unstyled">
      <li><a href="#" class="text-white d-block py-2"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="#" class="text-white d-block py-2"><i class="fa fa-users"></i> Users</a></li>
      <li><a href="#" class="text-white d-block py-2"><i class="fa fa-cogs"></i> Settings</a></li>
      <li><a href="#" class="text-white d-block py-2"><i class="fa fa-chart-bar"></i> Reports</a></li>
      <li><a href="#" class="text-white d-block py-2"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
  </div>
  