
  <!-- <input type="file" (change)="onFileSelected($event)" accept=".xml" #fileInput>
  <img [src]="uploadIconUrl" width="100" height="100" [class.disabled]="isUploadDisabled"
       (click)="isUploadDisabled ? null : onUploadClick(fileInput)">
  <p *ngIf="errorMessage">{{ errorMessage }}</p>

            <mat-spinner></mat-spinner> -->
            <mat-sidenav-container class="main-container">
              <!-- Left Sidebar -->
              <mat-sidenav mode="side" opened class="sidenav">
                <h5 class="text-center mt-3">Navigation</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                  </li>
                  <li class="list-group-item">
                    <a routerLink="/users/userprofile" routerLinkActive="active">Profile</a>
                  </li>
                  <li class="list-group-item">
                    <a routerLink="/users/usersetting" routerLinkActive="active">Settings</a>
                  </li>
                  <li class="list-group-item">
                    <a routerLink="/users/support" routerLinkActive="active">Support</a>
                  </li>
                </ul>
              </mat-sidenav>

              <!-- Main Content -->
              <mat-sidenav-content>
                <!-- Top Navbar -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand" href="#">Dashboard</a>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/notifications">Notifications</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          id="userDropdown"
                          role="button"
                          data-bs-toggle="dropdown"
                        >
                          Account
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="dropdown-item" routerLink="/profile">My Profile</a></li>
                          <li><a class="dropdown-item" routerLink="/settings">Settings</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>

                <!-- Dynamic content based on route -->
                <section class="content-area">
                  <router-outlet></router-outlet>
                </section>
              </mat-sidenav-content>
            </mat-sidenav-container>


