.container {
  max-width: 1000px;
}

.accordion-button {
  font-weight: bold;
}

.accordion-body {
  background-color: #f9f9f9;
}

.form-control, .form-select {
  box-shadow: none;
}

.btn-primary {
  width: 100%;
}
